html {
    scroll-behavior: smooth;
}

/*
    Members:
        GARCIA, CHED NEO H.
        DIOKNO, CARL DENVER D.
        TRINIDAD, JAMES ALJANDRO N.
        MAINOT, JONATHAN L.
        FERATER, MIKE REYNIEL L.
*/

@font-face { font-family: open-sans; 
    src: url('OpenSans-Regular.ttf'); } 

div.wrapper {

    position: fixed;
    display: grid;
/*    align-items: center;
    align-content: center; */
    z-index: 3;
    background-image: linear-gradient(crimson,red) ;
    padding: 2rem;
    min-width: 100vw;
    top: 0px;
    padding-bottom: 0rem;
    margin-top: -1rem;
/*    margin-left: -1rem;
    margin-right: -1rem; */
    margin: -0.5rem;
}

header#red {
    padding: 0;
}

div#logo { 
    display: inline;
    padding-right: 9em;
}

#bsu-logo {
    position: absolute;
    z-index: 1;
    width: 5rem;
    margin: -0.6rem;
    margin-left: 3rem;


}

div#school {
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: white;
    margin-bottom: .1em;
    margin-top: -.1em;
    padding-bottom: 1.1em;
}

span#spschool {
    font-size: 2rem;
    font-weight: bold;
}

span#spschool1 {
    font-size: 1.5rem;
}

div.hyperlink {
    position: absolute;
    margin-top: 1.5em;
    margin-left: 10em;
/*    background-color: white; */
    font-family: sans-serif;
    display: inline-flex;
    color: white;
}

.dropbtn {
    padding: 0.5em;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border-color: rgba(0, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0);
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    position: relative;
    right: 0;
    margin-top: 0.2rem;
    display: none;
    width: max-content;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1rem 1rem 0;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgba(255, 255, 255, 0.5);
    transition-property: background;
    transition: 700ms;}

    div.hunderlines {
        width: 80%;
        border-radius: 2px;
        margin-top: 5px;
        height: 3px;
        background-color: white;
    }

/*
div.hyperlink a:hover {
    color: white;
    border-radius: 20px;
    text-decoration: none;

    padding: 0.5em;
    background-color: rgb(255, 255, 255, 0.5);
}

div.hyperlink a:link {
    padding: 0.5em;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;

}

div.hyperlink a:visited {
    padding: 0.5em;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;

}

div.hyperlink a:active {
    color: white;
    border-radius: 20px;
    text-decoration: none;

    padding: 0.5em;
    background-color: rgb(255, 255, 255, 0.25);
}

div#hamburger {
    margin-left: 40%;
    position: absolute;
    display: inline;
    
} */

div#likod {
    height: 13vh;
}
/* --------------------------------------------------------------------Division-------------------------------------------------------------------------- */
div.bar {
    align-items: center;
/*    border-top: white solid; */
    margin: 0 -8px;
    position: relative;
    background-color: #373737;
    display: flex;
    height: 6vh;
    font-family: sans-serif;
    justify-content: center;
}

div.bar a {
    align-items: center;
    color: white;
    
    text-indent: 0.5rem;
    text-decoration: none;
    padding: 1rem;
}

div.bar a:hover {
    background-color: crimson;
}

div.bar img {
    height: 3.5vh;
/*    filter: grayscale(100%); */
}

div.minicon {
    font-size: 14px;
    justify-items: center;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
/*    border-left: white solid; */
}

/* --------------------------------------------------------------------Welcome-------------------------------------------------------------------------- */

div#poffering {
    position: relative;
    z-index: 2;
    text-align: center;
    display: grid;
    margin: 0 -8px;
    height: 40vh;
    overflow: hidden;
    background-color: black;
}

div#poffering img {
    position: absolute;
    opacity: 50%;
    margin-top: -30vh;
    width: 100%;
/*    filter: grayscale(50%) blur(1px); */
}

div#poffering h1 {
    font-size: 3rem;
    font-style: oblique;
    align-self: center;
    color: white;
    filter: drop-shadow(0 0 5px #000);

}

div#sgor {
    letter-spacing: 0.5rem;
    margin: -0.5rem;
    font-family: sans-serif;
    margin-bottom: -30vh;
    margin-top: 13.5vh;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: lighter;
    color: white;
}

div#pgor {
    font-family: sans-serif;
    justify-self: center;
    align-self: center;
    z-index: 2;
    position: absolute;
}

/* --------------------------------------------------------------------Division-------------------------------------------------------------------------- */

div.wrapper123 {
    top: 0;
    position: fixed;
    margin: 0px -8px;
    height: 100vh;
    background-color: whitesmoke
}

div.wrapper123 img {
    opacity: 20%;
    margin-top: -17vh;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    filter: grayscale(50%) blur(1px);
}

div.college {
    justify-content: center;
    display: grid;
    margin: 0 -8px;
    position: relative; 
    height: 55vh;
    background-color: whitesmoke;
}

div.collegeT {
    justify-content: center;
    display: grid;
    margin: 0 -8px;
    position: relative; 
    height: 55vh;
    background-color: rgba(245, 245, 245, 0);
}

/* --------------------------------------------------------------------Division-------------------------------------------------------------------------- */

div.collegelogo {
    filter: drop-shadow(0 0 5px #000); 
    margin: 5vh;
    position: relative;
    display: flex;
    height: contain;
}

div.collegelogot {
    filter: drop-shadow(0 0 5px #000);
    margin: 5vh;
    position: relative;
    display: flex;
    height: contain;
    justify-self: center;
    left: 73%;
}

div.collegetitle {
    position: relative;
    width: 50vw;
    height: max-content;
    margin: 1rem;
/*    margin-left: 20vw; */
    font-family: sans-serif;
    font-weight: lighter;
    font-style: oblique;
    font-size: 0.75rem;
    color: #EB1C24;
    justify-self: center;
    margin-left: -19vw
}

div.decoration-line {
    height: 3px;
    width: 75vw;
    background-color: #EB1C24;
}

div.decoration-linecte {
    height: 3px;
    width: 75vw;
    background-color: #EB1C24;
}

div.collegeprograms {
    display: flex;
    color: #373737;
    line-height: 1.4em;
    font-family: sans-serif;
    margin-top: -15vh;
    font-weight: lighter;
    margin-left: -19vw
}

div#collegetitlecte {
    margin-left: -19vw
}

ul#ulup {
    margin-top: -5vh;
}

div.CTE {
    height: 70vh;
}
div.CABEIHM {
    height: 60vh;
}

div#specialul {
    margin-top: 9vh;
}

div#specialul1 {
    margin-top: 10vh;
}

/* --------------------------------------------------------------------Division-------------------------------------------------------------------------- */

div.footer {
    z-index: 1;
    background-color: #373737;
    position: relative;
    display: flex;
/*    align-items: center; */
    min-height: 40vh;
    color: white;
    margin: -0.5em;
/*    margin-bottom: 0; */
bottom: 0;
}

div#d1footer {
    opacity: 0.9;
    display: flex;
    margin-top: 2.5rem;
}

div#reds {
    width: max-content;
    display: flex;
    margin: 1rem;
    margin-left: 6rem;
    align-items: center;
    align-content: center;
    align-self: center;
}

img#redspartan {
    height: 30vh;   
}

ul.ulfooter {
    list-style-type: none;
    font-family: sans-serif;
    line-height: 1.2rem;
}

div#d1footer a:hover {
    color: rgb(184, 184, 184);
}

div#d1footer a {
    color: whitesmoke;
    font-weight: 10;
    font-style: oblique;
}

div#bsumission {
    justify-content: center;
    text-align: center;
    align-self: center;
    position: absolute;
    opacity: 75%;
    color: white;
    font-family: sans-serif;
    width: 50vh;
/*    margin-top: 4rem; */
    right: 12rem; 
}


div#connections {
    align-items: center;
    justify-content: center;
    margin: 0.3rem;
    margin-top: 2rem;
    display: flex;
}

div#connections img{
    width: 40px;
    height: 40px;
    margin: 1rem;
    margin-top: 0;
}

div#connections a:hover img {
    margin-top: -1.2rem;
    margin-bottom: -0.5rem;
    width: 60px;
    height: 60px;
}

div#extender {
    position: relative;
    z-index: 2;
    height: 20vh;
    background-color: #373737;
    margin: -0.5rem;
}

a#anchor1, a#anchor2,
a#anchor3, a#anchor4,
a#anchor5, a#anchor6 {
    position: absolute;
    transform: translateY(-19vh);
}

div#btt {
    opacity: 0%;
    right: 1vw;
    bottom: 2vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    z-index: 3;
    rotate: 180deg;
    background-color: #2f2f2fb1;
    border-radius: 12px;
    object-fit: contain;
    width: 45px;
    height: 40px;
    border: whitesmoke solid;
}

div#btt img {
    width: 40px;
}